.modellist{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.modeltoolbar{
    flex-grow: 1;
    height: 60px;
    margin:0px 0px 5px ;
    min-height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carosel{
    max-width: 600px;
    display: flex;
    margin: 20px 0px 0px 20px;
}

