.modellist{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.modeltoolbar{
    flex-grow: 1;
    height: 60px;
    margin:0px 0px 5px ;
    min-height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-root{
    display: flex;
    max-height: 270px;
    height: 250px;
}

.carosel-model {
    width: 350px !important;
}

.spec-icon {
    text-align: center;
    position:absolute;
    margin-top: 60px !important;
    width: -webkit-fill-available;
}
.spec-icon-view {
    text-align: center;
    position:absolute;
    margin-top: 80px !important;
    width: -webkit-fill-available;
    font-weight: 600 !important;
}



@media screen and (max-width:720px){
    .card-root{
        display: inline;
        max-height: 250px;
    }
    .carosel-model {
        width: 350px !important;
    }
}

