.brand-logo {
    display: flex;
    padding: 10px;
    width: 20%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.brand-image {
    width: 100%;
    height: auto;
}