.makelist{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.makeroot{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 65%;
    min-height: 50%;
    min-width: 440px;
    margin:10px 10px;
    box-sizing: border-box;
}

.modelroot{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 50%;
    min-height: fit-content;
    min-width: 440px;
    margin:10px 10px;
    box-sizing: border-box;
    max-width: initial;
}

.toolbar{
    height: 60px;
    margin:0px 0px 5px ;
    min-height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar-box{
    margin-right:50px;
}

@media screen and (max-width: 1024px){

    .toolbar h6 {
        display: none
    }

    .makeroot{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-height: 65%;
        min-height: 50%;
        margin:10px 10px;
        box-sizing: border-box;
        min-width: 100%;
    }

    .modelroot{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-height: 50%;
        min-height: fit-content;
        margin:10px 10px;
        box-sizing: border-box;
        min-width: 100%;
    }
    .toolbar-box{
        margin-right:0px;
    }

}