.makelist{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.makeroot{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 65%;
    min-width: 400px;
    margin:10px 10px;
    box-sizing: border-box;
}

.toolbar{
    height: 60px;
    margin:0px 0px 5px ;
    min-height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}